@model IEnumerable<WaterHistoryApp.Models.History>


<div class="container">
    <div class="greeting-main-page">
        <h1>Свежая вода</h1>
        <h1>каждый день!</h1>
        <p>Приложение позволяет осуществлять<br> контроль воды с помощь графиков<br> и траблицы где показана статистика<br> и факторы.</p>
    </div>
</div>


