@model IEnumerable<WaterHistoryApp.Models.History>

<div class="container">
        <h1>К сожалению за это этот месяц данных не найдено</h1>
        <p>Пожалуйста, заполните данные в таблице за выбраный месяц для отображения графика</p>
</div>